.text {
    color: rgb(241, 251, 255);
}

main {
    background-color: #eef1f5;
}

.navcolor {
    color: rgb(109, 32, 32);
}


.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 860px;
    padding-top: 500px;
    padding-bottom: 300px;
}

.textcolor {
    color: #040e21;
    font-size: 5vw;
    font-family: "IBM Plex Serif",
        serif;
    font-weight: 400;
    opacity: 0.9;
}


.responsivecolor {
    height: 860px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 400px rgba(0, 0, 0, 0.1);
}

.responsivecolor img {
    height: 100%;
    width: auto;
}




.marginfirst {
    width: 50vw;
}

.cardcontent {
    display: flex;
    justify-content: center;
    align-items: center;
}



.line {
    border: none;
    border-top: 3px solid #000000;
}

.lineondark {
    border: none;
    border-top: 3px solid #ffffff;
}

.backgroundg {
    background-color: #ebeef0;
}

.imgf {
    width: 100%;
    height: 500px;
}

.font {
    font-size: 12px;
}

.bg {
    background-color: #e4e5e8;
}



.borderstyle {
    border-color: #0e2652;
    border-left-width: 2.5px;
    border-left-style: solid;
}

.borderstyleondark {
    border-color: #8c9bac;
    border-left-width: 2.5px;
    border-left-style: solid;
}



.contentquote {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding-left: 22px;
}



.bigquote {
    color: #1a3350;

    font-size: 4.4em;
    position: absolute;
    margin-top: -22px;
}

.bigquoteondark {
    color: #cfe0f4;
    font-size: 4.4em;
    position: absolute;
    margin-top: -22px;
}

.bigquoteondark:first-of-type {
    margin-left: -30px;
    margin-top: -30px;
}





.contentquote1 {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

.bigquote1 {
    color: #1a3350;
    font-size: 4em;
    position: absolute;
    margin-top: -14px;
}

.bigquote1:first-of-type {
    margin-left: -22px;
    margin-top: -22px;
}

.bigquote:first-of-type {
    margin-left: -30px;
    margin-top: -30px;
}



.pallign {
    text-align: justify;
}