/*main parts*/

body{
    background-color: #eef1f5
}

header{
    background-color: #62929E;
}

nav{
    background-color: #62929E;
}

.footer{
    background-color: #62929E;
}

.cardz{
    background-color: #0e2652;
}

/*fonts*/

.oswald1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 75px;
    color: #040e21;
  }

.oswald2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.copyright{
  font-family: "IBM Plex Serif", serif;
    font-style: italic; 
    font-size: xx-small;
}
  .staat {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ibm {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  /*added borders*/

  .border-5 {
    border-width:3px !important;
}
  /*carousel*/
  
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}