body{
    background-color: #4A6D7C;
}

header{
    background-color: #62929E;
}

nav{
    background-color: #62929E;
}

.footer{
    background-color: #62929E;
}

.visual{
    background-color: #C6C5B9;
}