body{
    background-color: #7EA3CC
}

header{
    background-color: #62929E;
}

nav{
    background-color: #62929E;
}

.footer{
    background-color: #62929E;
}

.visual{
    background-color: #2A4849;
}

.oswald1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
  }

.oswald2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .dokdo {
    font-family: "East Sea Dokdo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }

  .staat {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ibm {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  .border-5 {
    border-width:5px !important;
}
  